body {
    margin: 0;
    padding: 0;


}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin: 0 80px;

}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style-type: none;
    margin-right: 10px;
}

.btn {
    background-color: #ecba68;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}

/* secone */
.page {
    display: flex;
    flex-direction: column;

}

.secone {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.seconecontent {
    padding: 10px;
    text-align: center;
    position: relative;
    height: 83vh;
    overflow-y: hidden;
    width: 400px;
}

.circle {
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    animation-name: circlebig;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-left: 20%;
    margin-right: 20%;
}

.cap {
    width: 100px;
    animation-name: capdown;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    position: relative;
}

.bottel {
    width: 140px;
    animation-name: botteldown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    margin-left: -8px;
}

.text {
    padding-top: 20px;
    animation-name: textbig;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: #13395b;
}

.text p {
    font-size: small;
}

@keyframes botteldown {
    to {
        transform: translateY(95px);
    }
}

@keyframes capdown {
    to {
        transform: translateY(373px);
        z-index: 1;
    }
}

@keyframes circlebig {
    to {
        width: 250px;
        height: 250px;
    }
}

@keyframes textbig {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        font-size: 25px;
        ;
    }
}

/* sectwo */
.sectwo {
    width: 100%;
    height: 75vh;
    padding: 90px 0 0 0;
    overflow: hidden;
    margin-top: 10vh;
}

.sectwocontent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-image: linear-gradient(to right, #4a5a58, #173132);
    height: 50vh;
    padding-top: 30px;
    align-items: center;

}

.bot {
    width: 120px;
    height: 300px;
    transform: rotate(30deg);
}

.bot-down {
    margin-top: 60px;
}

.bot-up {
    margin-top: -20px;
}

.sectwotext {
    position: absolute;
    ;
    color: white;
    text-align: center;
    margin-left: 40%;
    font-size: x-large;
}

/* secthree */
.secthree {
    height: 100vh;
}

.three {
    margin: 20px 70px;
}

.a {
    display: flex;
    margin: 0 10%;
    color: #13395b;
    font-size: xx-large;
}

.aa {
    width: 500px;
}

.aaa {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 100px;
}

.aaa img {
    width: 300px;
    height: 160px;
}

.b {
    margin: 0 120px;
}

.b img {
    width: 320px;
    height: 150px;
}


/* secfour */
.secfour {
    
    height: 100vh;
}

.testimonial,
.t {
    display: flex;
    justify-content: center;
}

.testimonial {
    align-items: center;
}

.testimonial {
    background-image: linear-gradient(to bottom, #8a2be2, #0185bf);
    height: 60vh;
    position: relative;
}

.testcontent {
    z-index: 3;
}

.cc {
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: flex;
    z-index: 0;
}

.cir1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 15% 0 0 5%;
}

.cir2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5% 0 0 20%;
}

.cir3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin: 15% 0 0 20%;
}

.cir4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5% 0 0 20%;
}





/* card */
.card {
    border: 1px solid #fff;
    margin: 10px;
    border-radius: 5px;

}

.imgcard {
    height: 50px;
    border-radius: 50%;
}


.footer {
    
    height: 40vh;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    position: relative;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
    
}

.bgMidle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    
    background-size: 50% 120px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
}
.waveAnimation .waveMiddle{
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 120px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    
}
.waveAnimation .waveBottom{
    animation:move_wave 15s linear infinite;
}
.content{
    display: flex;
}
.content ul{
    list-style-type: none;
    margin-left: 150px;
}
.wave img{
    width:50px;
    height: 50px;
}
.contentfooter{
    display: flex;
    position: relative;
    z-index: 20;
}
.contentfooter div{
    margin-left: 100px;
}